# Dependencies
node_modules

# Other
.nuxt*

# Service worker
sw.*

# Only keep package-lock.json in the root
package-lock.json
*/**/yarn.lock

# Logs
*.log

# Dist folders
dist

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Coverage reports
coverage
*.lcov
.nyc_output